.landing-div{
    display: flex;
    flex-direction: row;
    gap:0 10vw;
    padding: 12vh 5vw 0 5vw;
}
.landing-title{
    margin-top: 18vh;
}
.landing-div h1{
    font-size: 65px;
}
.landing-div p{
    font-size: 25px;
}
.signin-form,.createpost-form{
    padding: 10vh 20vw;
}
.dashboard-div{
    padding: 0 2vw;
    display: flex;
    flex-direction: row;
    gap: 15vw;
    padding-top: 5vh;
}
.truncate {
    width: 42vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@media (min-width:320px) and (max-width: 960px) {
    .landing-div{
        display: flex;
        flex-direction: column;
    }
    .landing-div h1{
        font-size: 45px;
    }
    .landing-div p{
        font-size: 15px;
    }
}

.centered {
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
